@import '../style/variables.scss';

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px $green inset !important;
}

a {
  text-decoration: none;
}

.main-container {
  height: 100%;
}

.wrapper {
  background: $radial-green;
}

.default-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;

  .container {
    width: 626px;
    height: 590px;
    margin: auto;
    border: 1px solid #000000;
    background-color: $green;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
  }

  
  .title {
    font-weight: 400;
    line-height: 63px;
    text-align: center;
    font-size: 48px;
    margin-top: 40px;
    margin-bottom: 10px;
  }
  
  .request-title {
    margin-top: 100px;
    margin-bottom: 50px;
  }

  .login-title {
    font-size: 72px;
    margin-bottom: 15px;
    margin-top: -60px;
  }

  .MuiButtonBase-root {
    width: 323px;
    border-radius: 48px;
    border: 1px solid black;
    
    &.MuiButton-containedPrimary {
      color: white;
      background-color: $blue;
      margin: 10px 0;
  
      &:hover {
        background-color: $hovered-blue !important;
        border: 1px solid black;
      }
    }

    &.MuiButton-containedSecondary {
      width: 323px;
      background-color: transparent;
      color: $blue;
  
      &:hover {
        background-color: $hovered-grey;
        color: $blue;
        border: 1px solid $blue;
      }
    }
  }

  .MuiOutlinedInput-root {
    height: 48px;
  }
}

.logo {
  height: 200px;
  width: auto;
}

.small-logo {
  height: 130px;
  margin-top: 0px;
}

textarea {
  font-family: 'Roboto Slab';
  font-size: 1rem;
  padding: 14px;
  width: 344px;
  background: $hovered-grey;
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.38);
  border-radius: 5px;
  margin: 10px 0 !important;
  max-width: 344px;
  min-width: 344px;
  max-height: 200px;
  height: 200px;
}

.MuiPaper-elevation {
  width: 100%;
}

textarea::placeholder {
  color: #000000a1;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

textarea:focus {
  outline: $blue;
}

.MuiFormControl-root {
  width: 372px;
  background: $hovered-grey;
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.38);
  border-radius: 5px;
  margin: 10px 0 !important;
}

.select-btn {
  border: 1px solid rgba(0, 0, 0, 0.23) !important;

  label {
    margin-left: 14px;
  }

  .MuiInputLabel-shrink {
    transform: translate(0, -7.5px) scale(0.75);
    background-color: $green;
    width: 43px;
    text-align: center;
  }

  .MuiSelect-select {
    padding-left: 14px;
  }
}

.small-icon {
  height: 25px;
  width: 25px;
}

.wave1 {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.wave2 {
  position: absolute;
  right: 360px;
  bottom: 0;
  z-index: 1;
}

.wave3 {
  position: absolute;
  left: -55px;
  bottom: 0;
  z-index: 1;
}

input:-internal-autofill-selected {
  background-color: transparent !important;
  color: black !important;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  width: 372px;


  .select-btn {
    width: 240px;
  }

  .qty-input {
    width: 119px;
  }
}

.table-wrapper {
  width: 80%;
  margin: 150px auto 20px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-bottom: 50px;

  a {
    color: $blue;
    font-weight: bold;
    margin-bottom: 15px;
    cursor: pointer;

    &:hover {
      color: $red;
    }
  }
}

.MuiTable-root th {
  background-color: $blue;
  color: white;
}

.MuiTableCell-root a {
  justify-content: flex-start;
}

.MuiChip-root {
  width: 80px;
  border-radius: 5px !important;
  cursor: pointer !important;

  &.MuiChip-filledInfo {
    border: 1px solid $blue;
    color: $blue;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), #3E66FB;
  }
  
  &.MuiChip-filledError {
    border: 1px solid $red;
    color: $red;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), #F03738;
  }
}

.cards-wrapper {
  width: 90%;
  margin: 150px auto 20px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 120px;
  row-gap: 60px;
  padding-bottom: 50px;
}

.card-wrapper {
  display: flex;
  height: 280px;

  svg {
    vertical-align: bottom;
  }

  p {
    margin: 20px 0;
  }
  
  .card-status {
    min-width: 90px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    text-align: center;
    display: flex;
    padding-bottom: 12px;
    text-transform: uppercase;
    font-size: 14px;
    align-items: flex-end;
    justify-content: center;
    
    &.open {
      background-color: $green;
    }
    
    &.pending {
      background-color: $yellow;
    }

    &.closed {
      background-color: $red;
    }
  }

  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .MuiCardActions-root {
    justify-content: space-between;
  }
  
  .completed-qty {
    height: 28px;
    width: 122px;
    border: 1px solid rgba(0, 0, 0, 0.41);
    color: rgba(0, 0, 0, 0.41);
    border-radius: 5px;
    padding: 5px 0 0 10px;
  }
  .MuiFormControl-root {
    width: 122px;
    margin: 0 !important;
    height: 28px;
    justify-content: space-between;
    background-color: white;

    .MuiInputLabel-formControl {
      top: -14px;
      height: 28px;

    }
    .MuiOutlinedInput-input {
      padding: 0 0 0 14px !important;
      height: 28px;
    }

    .MuiInputLabel-shrink {
      transform: translate(14px, 5px) scale(0.75);
    }
  }

  .MuiButton-root {
    color: $blue;
  }
}

.stock-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 150px auto 20px auto;
  align-items: flex-end;

  a {
    color: $blue;
    font-weight: bold;
    margin-bottom: 15px;
    cursor: pointer;

    &:hover {
      color: $red;
    }
  }
}

.tables-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: auto;
  padding-bottom: 50px;
}

.requests-wrapper {
  width: 600px;
  height: auto;
  overflow: auto;
  border-radius: 5px;
  background-color: white;

  .header {
    background-color: $blue;
    color: white;
    line-height: 1.5rem;
    padding: 16px
  }

  .body {
    background-color: white;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 60px;
    row-gap: 60px;
    padding-top: 30px;
    padding-bottom: 30px;

    .card-wrapper {
      padding-left: 60px;
      padding-right: 60px;
    }
  }
}

.stock-wrapper {
  width: 1000px;

  .MuiFormControl-root {
    width: 240px;
    background-color: transparent;
  }


  .MuiButton-root {
    width: 170px;
    background-color: $blue;
    height: 40px;
    border-radius: 48px;

    &:hover {
      background-color: $hovered-blue !important;
      border: 1px solid black;
    }
  }

  td:last-child {
    display: flex;
    justify-content: center;
    height: 76px;
    align-items: center;

  }

  .MuiTableCell-head:first-child {
    width: 350px !important;
  }

  .MuiTableCell-head:nth-child(2) {
    width: 100px !important;
  }

  .MuiTableCell-head:nth-child(3) {
    width: 100px !important;
  }

  .qty-input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 45px;
    border: 1px solid rgba(0, 0, 0, 0.41);;
    border-radius: 5px;

    svg {
      color: $blue;
      cursor: pointer;

      &:hover {
        color: $red;
      }

      &.disabled {
        color: grey;
      }
    }
  }
  input {
    width: 90px;
    border: 0;
    outline: none;
    padding-left: 45px;
  }
}