/* Main colors */
$green: #AFCCAF;
$blue: #587998;
$yellow: #FFD800;
$red: #FF5E5E;

$radial-green: radial-gradient(100% 100% at 50% 0%, #AFCCAF 0%, rgba(224, 224, 224, 0) 100%);

$hovered-grey: rgba(0, 0, 0, 0.04);
$hovered-blue: #0f243f9d;